[submodule "libs/minhook"]
	path = libs/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "common_cmake"]
	path = common_cmake
	url = ../../bl-sdk/common_cmake.git
