[submodule "libs/minhook"]
	path = libs/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "common_cmake"]
	path = common_cmake
	url = git@github.com:bl-sdk/common_cmake.git
