[submodule "libs/minhook"]
	path = libs/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/cmake-git-version-tracking"]
	path = libs/cmake-git-version-tracking
	url = git@github.com:andrew-hardin/cmake-git-version-tracking.git
